body {
	padding-top:70px;
}
.button.red {
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  background-color: #D14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  border-radius: 3px;
  padding-bottom: 3px;
  border: 7px solid transparent;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.red:hover {
  background-color: #C53727;
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727); 
}

.container-fluid {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
     width: 100%;
    overflow-x: hidden; 
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.relative{
position: relative !important;
}

#loginError{

  position: absolute;
  background-color: rgba(230, 230, 230, 0.71);
  border: rgba(255, 0, 0, 0.42);
  border-width: medium;
  border-style: solid;
  margin-top: 0%;
  margin-left: -10%;
  padding-left: 10px;
  box-shadow: -3px 3px 1px #D6D5D5;
  padding-right: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

}
#box {
    position: relative;
    background-image: url(../img/boxes.jpg);
width: 46%;
    	top: -40px;;
	left:0;
	margin:0;
	padding:0;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
    -ms-background-size:cover;
	background-size:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#box:before{
  content:'';
  padding:44% 0;/* vertical value as  100% equals width */
  display:inline-block;
  vertical-align:middle; /* or whatever */
}

.absolute {
position: absolute !important;
    z-index: 2;
    width: 55%;
       left: 50%;
  top: 45%;
  -ms-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);  
}

.cell1 img{
width: 80%;
margin-left: -15px;}


.textid{
      position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    padding: 0 120px;
}

.textid img{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
width: 100%;}

.pack{
margin-top: 50px;}
.pack img{
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;}



#googlemap{
position: relative;
width:100%;
height: 600px;
margin-top: 50px;
}

#map{
    position: relative;
width:100%;
height: 600px;
z-index: 1;
/*-webkit-filter: brightness(80%) blur(2px);
  filter: brightness(80%) blur(2px);*/
}

.noblur{
height: 200px;
width: 100px;}


#locationboard{
    width: 200px !important;
    height: 400px !important;
    z-index: 2;
    position: absolute;
    top: 100px;
        left: 50%;
    margin-left: -100px;
    border-radius: 40px;
}

.live{
    width: 80px;
    top: 50%;
    margin-top: -60px;
position: absolute;
left: 25%;
margin-left: -70px;
z-index: 4;
text-align: center;}

.track{
    width: 150px;
    top: 50%;
    margin-top: -60px;
position: absolute;
right: 25%;
margin-right: -120px;
z-index: 4;
text-align: center;}

.live i, .track i{
    z-index: 5;
    color:forestgreen;
}

.live h3,.track h3{
font-size: 36px;}
#dark{
height: 460px;
width: 280px;

    top: 120px;
position: absolute;
z-index:1;

}
#locationboard img{
width: 100%;
height: 100%;

border-radius: 40px;
    z-index: 2;
    position: absolute;
    box-shadow: -5px 5px 10px #888888;
    
}

.gray{
background-color: #BDC3C7;
}

.face, .twit,.plus{
text-align: center;
height: 200px;
padding-top: 70px;
    -webkit-transition: all .35s !important;
    -moz-transition: all .35s !important;
    transition: all .35s !important; }

.face i, .twit i,.plus i{
color: #EEEEEE;
}

.face:hover{
background-color: #3b5998;}

.twit:hover{
background-color: #4099FF;}

.plus:hover{
background-color: #d34836;}

.about{
text-align: center;
position: relative;
}

.textabout{
margin-top: 50px;
    height: 200px;
}


@media (max-width: 950px){
    .textid{
        margin-top: 50px;
      position: static;
  top: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
    padding: 0 50px;
}
}
    
    @media (max-width: 850px){
#googlemap{
position: relative;
width:100%;
height: 500px;
margin-top: 50px;}

#map{
width:100%;
height: 500px;

z-index: 1;
}
           #locationboard{
top: 50px;
}
        #dark{
height: 315px;
width: 190px;
 left: 50%;
    margin-left: -95px;
    top: 95px;
position: absolute;
z-index:3;

}
    }


@media (max-width: 768px){
.row-eq-height {
  display: block;
  display: block;
  display: block;
  display: block;
}
    
    #box {
    position: relative;
    background-image: url(../img/boxes.jpg);
        width: 80%;
    top: 10px;}
    
    .cell1 img{
width: 60%;
margin-left: -15px;
    margin-top: 50px;}
    
    .cell2 img{
width: 80%;
    }
    .textid{
        margin-top: 50px;
      position: static;
  top: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
    padding: 0 120px;
}
    .pack img{
margin-top: 80px;}

    .textabout{
margin-top: 50px;
    height: 100px;
        padding: 0 20px;
}
}
    
        @media (max-width: 650px){
    .no650{
    display: none;
}
            
            
    }
    
    @media (max-width: 500px){
    .textid{
    padding: 0 20px;
}
    }



@media (max-width: 200000px) {
    .navbar-header {
        float: none;
        padding: 0 20px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        float: left;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .login{
    width: 320px;
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: right;
    }

    .firstline{
    list-style: none;
    float:left;
    margin-right: 30px;    
   }
}